<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form >
    	<span>please input your name</span><input type="text" name="userName"><br>
    	<span>please input your password</span><input type="text" name="passWord"><br>
    </form>
    <p>Welcome to <%= title %></p>
  </body>
</html>    
